sap-connector/sap_wsimport_classes_neu/sapsupplierread/META-INF/wsdl/Service_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE.wsdl

<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sap.com/xi/APPL/SE/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/APPL/SE/Global">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"></sidl:sidl>
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true"></wsp:UsingPolicy>
  <wsp:Policy wsu:Id="BN_BN_Binding_T_HTTP_A_HTTP_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE">
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication></sp:HttpBasicAuthentication>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15></sp:TripleDesRsa15>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict></sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
      <wsp:All>
        <sp:TransportBinding xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sapsp:HTTPSSO2></sapsp:HTTPSSO2>
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15></sp:TripleDesRsa15>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict></sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:ProfileName>DEFAULT_PROFILE</sapcentraladmin:ProfileName>
      <sapcentraladmin:ProfileVersion>2</sapcentraladmin:ProfileVersion>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_SupplierBasicDataByIDQueryResponse_In">
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>DE7AB4A019203CF19FD500145E5ADE89</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_SupplierBasicDataByIDQueryResponse_In">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global" targetNamespace="http://sap.com/xi/SAPGlobal20/Global">
      <xsd:import namespace="http://sap.com/xi/APPL/SE/Global"></xsd:import>
      <xsd:element name="StandardMessageFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="xi1:ExchangeFaultData"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SupplierBasicDataByIDQuery_sync" type="xi1:SupplierBasicDataByIDQueryMessage_sync"></xsd:element>
      <xsd:element name="SupplierBasicDataByIDResponse_sync" type="xi1:SupplierBasicDataByIDResponseMessage_sync"></xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://sap.com/xi/APPL/SE/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/APPL/SE/Global" targetNamespace="http://sap.com/xi/APPL/SE/Global">
      <xsd:simpleType name="AddressID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AgencyIdentificationCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="3"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="BuildingID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CountryCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="3"></xsd:maxLength>
          <xsd:minLength value="2"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="CountryDiallingCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Description">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute name="languageCode" type="LanguageCode"></xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="EmailURI">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="xsd:anyURI">
            <xsd:attribute name="schemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string"></xsd:element>
          <xsd:element name="text" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="url" type="xsd:string"></xsd:element>
          <xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="FloorID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="FormOfAddressCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="FormOfAddressCode.Content">
            <xsd:attribute name="listID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listVersionID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="15"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"></xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="FormOfAddressCode.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="4"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="HouseID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Indicator">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"></xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LanguageCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:language">
          <xsd:maxLength value="9"></xsd:maxLength>
          <xsd:minLength value="2"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemNote">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemSeverityCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="1"></xsd:enumeration>
          <xsd:enumeration value="2"></xsd:enumeration>
          <xsd:enumeration value="3"></xsd:enumeration>
          <xsd:enumeration value="4"></xsd:enumeration>
          <xsd:length value="1"></xsd:length>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogItemTypeID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="40"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="MEDIUM_Name">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="MEDIUM_Name.Content">
            <xsd:attribute name="languageCode" type="LanguageCode"></xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="MEDIUM_Name.Content">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NOSC_LocationStandardID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:length value="13"></xsd:length>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="NOSC_Log">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"></xsd:element>
          <xsd:element minOccurs="0" name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"></xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="NOSC_LogItem"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NOSC_LogItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TypeID" type="LogItemTypeID"></xsd:element>
          <xsd:element minOccurs="0" name="CategoryCode" type="NOSC_LogItemCategoryCode"></xsd:element>
          <xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"></xsd:element>
          <xsd:element name="Note" type="LogItemNote"></xsd:element>
          <xsd:element minOccurs="0" name="WebURI" type="WebURI"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="NOSC_LogItemCategoryCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NOSC_RegionCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="6"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NOSC_TaxJurisdictionCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="15"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="NOSC_TransportationZoneID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="20"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="POBoxID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PartyID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="PartyID.Content">
            <xsd:attribute name="schemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencyID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencySchemeID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="60"></xsd:maxLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"></xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="PartyID.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PartyPartyID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="60"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PartyStandardID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
          <xsd:extension base="PartyStandardID.Content">
            <xsd:attribute name="schemeAgencyID" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:maxLength value="3"></xsd:maxLength>
                  <xsd:minLength value="1"></xsd:minLength>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
      <xsd:simpleType name="PartyStandardID.Content">
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="13"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PhoneNumber">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AreaID" type="PhoneNumberAreaID"></xsd:element>
          <xsd:element minOccurs="0" name="SubscriberID" type="PhoneNumberSubscriberID"></xsd:element>
          <xsd:element minOccurs="0" name="ExtensionID" type="PhoneNumberExtensionID"></xsd:element>
          <xsd:element minOccurs="0" name="CountryCode" type="CountryCode"></xsd:element>
          <xsd:element minOccurs="0" name="CountryDiallingCode" type="CountryDiallingCode"></xsd:element>
          <xsd:element minOccurs="0" name="CountryName" type="MEDIUM_Name"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PhoneNumberAreaID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PhoneNumberExtensionID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PhoneNumberSubscriberID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="30"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PostalCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ProcessingResultCode">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="2"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="RoomID">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
          <xsd:maxLength value="10"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="StreetName">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60"></xsd:maxLength>
          <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SupplierBasicDataByIDQueryMessage_sync">
        <xsd:sequence>
          <xsd:element name="SupplierBasicDataSelectionByID">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="SupplierID" type="PartyID"></xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplierBasicDataByIDResponseMessage_sync">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Supplier">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ID" type="PartyID"></xsd:element>
                <xsd:element minOccurs="0" name="StandardID" type="PartyStandardID"></xsd:element>
                <xsd:element name="BasicData">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="Common">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="Name">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" name="FormOfAddressCode" type="FormOfAddressCode"></xsd:element>
                                  <xsd:element minOccurs="0" name="FormOfAddressName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                  <xsd:element minOccurs="0" name="FirstLineName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                  <xsd:element minOccurs="0" name="SecondLineName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                  <xsd:element minOccurs="0" name="ThirdLineName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                  <xsd:element minOccurs="0" name="FourthLineName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="CustomerID" type="PartyPartyID"></xsd:element>
                            <xsd:element minOccurs="0" name="LocationStandardID" type="NOSC_LocationStandardID"></xsd:element>
                            <xsd:element minOccurs="0" name="TransportationZoneID" type="NOSC_TransportationZoneID"></xsd:element>
                            <xsd:element minOccurs="0" name="TransportationZoneName" type="MEDIUM_Name"></xsd:element>
                            <xsd:element minOccurs="0" name="DeletedIndicator" type="Indicator"></xsd:element>
                            <xsd:element minOccurs="0" name="PostingBlockedIndicator" type="Indicator"></xsd:element>
                            <xsd:element minOccurs="0" name="PurchasingBlockedIndicator" type="Indicator"></xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AddressInformation">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="AddressID" type="AddressID"></xsd:element>
                            <xsd:element minOccurs="0" name="Address">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" name="PhysicalAddress">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element minOccurs="0" name="CountryCode" type="CountryCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="CountryName" type="MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="RegionCode" type="NOSC_RegionCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="RegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="StreetPostalCode" type="PostalCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxPostalCode" type="PostalCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="CompanyPostalCode" type="PostalCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="CityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="AdditionalCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="DistrictName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxID" type="POBoxID"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxIndicator" type="Indicator"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxCountryCode" type="CountryCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxCountryName" type="MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxRegionCode" type="NOSC_RegionCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxRegionName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="POBoxCityName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="StreetName" type="StreetName"></xsd:element>
                                        <xsd:element maxOccurs="2" minOccurs="0" name="StreetPrefixname" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element maxOccurs="2" minOccurs="0" name="StreetSuffixName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element minOccurs="0" name="HouseID" type="HouseID"></xsd:element>
                                        <xsd:element minOccurs="0" name="AdditionalHouseID" type="HouseID"></xsd:element>
                                        <xsd:element minOccurs="0" name="BuildingID" type="BuildingID"></xsd:element>
                                        <xsd:element minOccurs="0" name="FloorID" type="FloorID"></xsd:element>
                                        <xsd:element minOccurs="0" name="RoomID" type="RoomID"></xsd:element>
                                        <xsd:element minOccurs="0" name="CareOfName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"></xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Description" type="Description"></xsd:element>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" name="TaxJurisdictionCode" type="NOSC_TaxJurisdictionCode"></xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="CommunicationData">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="AddressID" type="AddressID"></xsd:element>
                            <xsd:element minOccurs="0" name="Address">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" name="Communication">
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element minOccurs="0" name="CorrespondenceLanguageCode" type="LanguageCode"></xsd:element>
                                        <xsd:element minOccurs="0" name="CorrespondenceLanguageName" type="MEDIUM_Name"></xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Telephone">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="Number" type="PhoneNumber"></xsd:element>
                                              <xsd:element minOccurs="0" name="DefaultIndicator" type="Indicator"></xsd:element>
                                              <xsd:element minOccurs="0" name="Description" type="Description"></xsd:element>
                                              <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="Indicator"></xsd:element>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="MobilePhone">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="Number" type="PhoneNumber"></xsd:element>
                                              <xsd:element minOccurs="0" name="DefaultIndicator" type="Indicator"></xsd:element>
                                              <xsd:element minOccurs="0" name="Description" type="Description"></xsd:element>
                                              <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="Indicator"></xsd:element>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Facsimile">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="Number" type="PhoneNumber"></xsd:element>
                                              <xsd:element minOccurs="0" name="DefaultIndicator" type="Indicator"></xsd:element>
                                              <xsd:element minOccurs="0" name="Description" type="Description"></xsd:element>
                                              <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="Indicator"></xsd:element>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Email">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="Address" type="EmailURI"></xsd:element>
                                              <xsd:element minOccurs="0" name="DefaultIndicator" type="Indicator"></xsd:element>
                                              <xsd:element minOccurs="0" name="Description" type="Description"></xsd:element>
                                              <xsd:element minOccurs="0" name="UsageDeniedIndicator" type="Indicator"></xsd:element>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Web">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                              <xsd:element name="Address" type="WebURI"></xsd:element>
                                              <xsd:element minOccurs="0" name="DefaultIndicator" type="Indicator"></xsd:element>
                                              <xsd:element minOccurs="0" name="Description" type="Description"></xsd:element>
                                            </xsd:sequence>
                                          </xsd:complexType>
                                        </xsd:element>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Log" type="NOSC_Log"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="WebURI">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">
            <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
          </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI"></xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SupplierBasicDataByIDQuery_sync">
    <wsdl:part element="n1:SupplierBasicDataByIDQuery_sync" name="SupplierBasicDataByIDQuery_sync"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SupplierBasicDataByIDResponse_sync">
    <wsdl:part element="n1:SupplierBasicDataByIDResponse_sync" name="SupplierBasicDataByIDResponse_sync"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="StandardMessageFault">
    <wsdl:part element="n1:StandardMessageFault" name="StandardMessageFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SupplierBasicDataByIDQueryResponse_In">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation" docURL="http://esworkplace.sap.com/socoview?SC-NAME=ECC-SE&amp;SC-VERSION=604&amp;TYPE=ifmoper&amp;NAME=SupplierBasicDataByIDQueryResponse_In&amp;NAMESPACE=http%3a%2f%2fsap%2ecom%2fxi%2fAPPL%2fSE%2fGlobal"></sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_SupplierBasicDataByIDQueryResponse_In"></wsp:PolicyReference>
    </wsp:Policy>
    <wsdl:operation name="SupplierBasicDataByIDQueryResponse_In">
      <wsdl:documentation>
        <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation" docURL="http://esworkplace.sap.com/socoview?SC-NAME=ECC-SE&amp;SC-VERSION=604&amp;TYPE=ifmoper&amp;NAME=SupplierBasicDataByIDQueryResponse_In&amp;NAMESPACE=http%3a%2f%2fsap%2ecom%2fxi%2fAPPL%2fSE%2fGlobal"></sapdoc:sapdoc>
      </wsdl:documentation>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_SupplierBasicDataByIDQueryResponse_In"></wsp:PolicyReference>
      </wsp:Policy>
      <wsdl:input message="tns:SupplierBasicDataByIDQuery_sync"></wsdl:input>
      <wsdl:output message="tns:SupplierBasicDataByIDResponse_sync"></wsdl:output>
      <wsdl:fault message="tns:StandardMessageFault" name="StandardMessageFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding_T_HTTP_A_HTTP_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE" type="tns:SupplierBasicDataByIDQueryResponse_In">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_Binding_T_HTTP_A_HTTP_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE"></wsp:PolicyReference>
    </wsp:Policy>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="SupplierBasicDataByIDQueryResponse_In">
      <soap:operation soapAction="SupplierBasicDataByIDQueryResponse_In" style="document"></soap:operation>
      <wsdl:input>
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="StandardMessageFault">
        <soap:fault name="StandardMessageFault" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE">
    <wsdl:port binding="tns:Binding_T_HTTP_A_HTTP_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE" name="Binding_T_HTTP_A_HTTP_ECC_SUPPLIERBASICDATABYIDQR_DEFAULT_PROFILE">
      <soap:address location="http://erp.esworkplace.sap.com/sap/bc/srt/pm/sap/ecc_supplierbasicdatabyidqr/800/default_profile/2/binding_t_http_a_http_ecc_supplierbasicdatabyidqr_default_profile"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>